{% extends "layout.html" %}

{% block heading %}
    Welcome!
{% endblock %}

{% block body %}
    <p>Hello and welcome!</p>

    <h3>Select flight by city</h3>
    <form action="{{ url_for('check_flight') }}" method="POST" class="form-group">
        <div class="containers">
            <div class="row">
                <div class="col-3">
                    <input list="origins" name="origin" placeholder="Origin">
                    <datalist id="origins">
                        {% for city in cities  %}
                            <option value="{{ city }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-3">  
                    <input list="destinations" name="destination" placeholder="Destination">
                    <datalist id="destinations">
                        {% for city in cities %}
                            <option value="{{ city }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-3"> 
                    <!--input list="airlines" name="airline" placeholder="Airline (optional)">
                    <datalist id="airlines">
                        {% for airline in airlines %}
                            <option value="{{ airline.name }}">
                        {% endfor %}
                    </datalist-->
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="row">
                <div class="col- ext_padding2">
                    <button type="submit" class="btn btn-lg btn-info">Submit</button>
                </div>
                <div class="col- ext_padding2">  
                    <button type="reset" class="btn btn-lg btn-warning">Reset</button>
                </div>
            </div>
        </div>
        
    </form>
{% endblock %}