<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <title>Everest Travels</title>
    </head>
    <body>
        <header class="ext_padding"> 
            <div class="container">
                <div class="row">
                    <div class="col">
                        
                        <img src="{{url_for('static', filename='images/logo_large.png') }}" class="logo">
            
                    </div>
                    <div class="col-11">
                        <h1>Everest Travels</h1>
                    </div>
                </div>
            </div>
            <hr>
            <h3>{% block heading %}{% endblock %}</h3>

        </header>

        <div class="ext_margin">
        {% block body %}
        {% endblock %}
        </div>

        <div class="ext_margin">
        <p>Everest Travels</p>
        <i>Always Higher!</i>
        </div>

    </body>
</html>